.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-color: lightyellow;
}

.header{
  display: flex;
  justify-content: center;
}

.footer{
  display: flex;
  justify-content: center;
}